<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <!--    配置扫描包-->
    <context:component-scan base-package="com.zxj.service"/>


<!--    配置包，将service类加载到spring当中-->

    <bean id="carService" class="com.zxj.service.CarServiceImpl">
        <property name="carMapper" ref="carMapper"/>
    </bean>

    <bean id="driverService" class="com.zxj.service.DriverServiceImpl">
        <property name="BusDriverMapper" ref="busDriverMapper"/>

    </bean>

    <bean id="userService" class="com.zxj.service.UserServiceImpl">
        <property name="UserMapper" ref="userMapper"/>
    </bean>

</beans>